<hr>

<button class="btn btn-primary mt-2 mb-2" data-toggle="collapse" href="#app-ng-style">app-ng-style</button>
<div class="collapse" id="app-ng-style">
    <app-ng-style></app-ng-style>
</div>

<hr>
<button class="btn btn-primary mt-2 mb-2" data-toggle="collapse" href="#app-css">app-css</button>
<div class="collapse" id="app-css">
    <p>Parrafo</p>
    <hr>
    <app-css></app-css>
</div>

<hr>
<button class="btn btn-primary" data-toggle="collapse" href="#app-clases">app-clases</button>
<div class="collapse mt-2 mb-2" id="app-clases">
    <app-clases></app-clases>
</div>

<hr>
<p [appResaltado]="'#23AB43'">Resaltado</p>

<app-ng-switch></app-ng-switch>